<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLogServiceLabel" jhiTranslate="gatewayApp.logService.home.createOrEditLabel">Create or edit a Log Service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!logService.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="logService.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.logService.imput" for="field_imput">Imput</label>
            <input type="text" class="form-control" name="imput" id="field_imput"
                [(ngModel)]="logService.imput" required maxlength="4000" />
            <div [hidden]="!(editForm.controls.imput?.dirty && editForm.controls.imput?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imput?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imput?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.logService.output" for="field_output">Output</label>
            <input type="text" class="form-control" name="output" id="field_output"
                [(ngModel)]="logService.output" maxlength="5" />
            <div [hidden]="!(editForm.controls.output?.dirty && editForm.controls.output?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.output?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.logService.logDate" for="field_logDate">Log Date</label>
            <div class="input-group">
                <input id="field_logDate" type="text" class="form-control" name="logDate" ngbDatepicker  #logDateDp="ngbDatepicker" [(ngModel)]="logService.logDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="logDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.logDate?.dirty && editForm.controls.logDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.logDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.logService.request" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" [(ngModel)]="logService.request" >
                <option [ngValue]="null"></option>
                <option [ngValue]="serviceRequestOption.id === logService.request?.id ? logService.request : serviceRequestOption" *ngFor="let serviceRequestOption of servicerequests; trackBy: trackServiceRequestById">{{serviceRequestOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.logService.response" for="field_response">Response</label>
            <select class="form-control" id="field_response" name="response" [(ngModel)]="logService.response" >
                <option [ngValue]="null"></option>
                <option [ngValue]="serviceResponseOption.id === logService.response?.id ? logService.response : serviceResponseOption" *ngFor="let serviceResponseOption of serviceresponses; trackBy: trackServiceResponseById">{{serviceResponseOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
