<div>
    <h2>
        <span jhiTranslate="gatewayApp.logService.home.title">Log Services</span>
        <button class="btn btn-primary float-right jh-create-entity create-log-service-my-suffix" [routerLink]="['/', { outlets: { popup: ['log-service-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.logService.home.createLabel">
            Create new Log Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="logServices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imput"><span jhiTranslate="gatewayApp.logService.imput">Imput</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="output"><span jhiTranslate="gatewayApp.logService.output">Output</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logDate"><span jhiTranslate="gatewayApp.logService.logDate">Log Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="request.id"><span jhiTranslate="gatewayApp.logService.request">Request</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="response.id"><span jhiTranslate="gatewayApp.logService.response">Response</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let logService of logServices ;trackBy: trackId">
                <td><a [routerLink]="['../log-service-my-suffix', logService.id ]">{{logService.id}}</a></td>
                <td>{{logService.imput}}</td>
                <td>{{logService.output}}</td>
                <td>{{logService.logDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="logService.request">
                        <a [routerLink]="['../service-request-my-suffix', logService.request?.id ]" >{{logService.request?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="logService.response">
                        <a [routerLink]="['../service-response-my-suffix', logService.response?.id ]" >{{logService.response?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../log-service-my-suffix', logService.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'log-service-my-suffix/'+ logService.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'log-service-my-suffix/'+ logService.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="logServices && logServices.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
