
<div *ngIf="logService">
    <h2><span jhiTranslate="gatewayApp.logService.detail.title">Log Service</span> {{logService.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.logService.imput">Imput</span></dt>
        <dd>
            <span>{{logService.imput}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.logService.output">Output</span></dt>
        <dd>
            <span>{{logService.output}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.logService.logDate">Log Date</span></dt>
        <dd>
            <span>{{logService.logDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.logService.request">Request</span></dt>
        <dd>
            <div *ngIf="logService.request">
                <a [routerLink]="['/service-request-my-suffix', logService.request?.id]">{{logService.request?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.logService.response">Response</span></dt>
        <dd>
            <div *ngIf="logService.response">
                <a [routerLink]="['/service-response-my-suffix', logService.response?.id]">{{logService.response?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'log-service-my-suffix/'+ logService.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
