<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.payment.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.payment.greeting(${email})}"></p>
<p th:text="#{email.payment.text1}"></p>
<p>
    <span th:text="#{email.payment.text2}"></span>
    <br/>
    <em th:text="#{email.signature}"></em>
</p>
</body>
</html>

