
<div *ngIf="serviceRequest">
    <h2><span jhiTranslate="gatewayApp.serviceRequest.detail.title">Service Request</span> {{serviceRequest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.serviceRequest.description">Description</span></dt>
        <dd>
            <span>{{serviceRequest.description}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.serviceRequest.requestCode">Request Code</span></dt>
        <dd>
            <span>{{serviceRequest.requestCode}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service-request-my-suffix/'+ serviceRequest.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
