
<div *ngIf="currency">
    <h2><span jhiTranslate="gatewayApp.currency.detail.title">Currency</span> {{currency.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.currency.description">Description</span></dt>
        <dd>
            <span>{{currency.description}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.currency.acronymsCurrency">Acronyms Currency</span></dt>
        <dd>
            <span>{{currency.acronymsCurrency}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.currency.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{currency.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.currency.updateDate">Update Date</span></dt>
        <dd>
            <span>{{currency.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.currency.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{currency.deleteDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.currency.active">Active</span></dt>
        <dd>
            <span>{{currency.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'currency-my-suffix/'+ currency.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
