
<div *ngIf="paymentOrigin">
    <h2><span jhiTranslate="gatewayApp.paymentOrigin.detail.title">Payment Origin</span> {{paymentOrigin.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.paymentOrigin.codigo">Codigo</span></dt>
        <dd>
            <span>{{paymentOrigin.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.paymentOrigin.description">Description</span></dt>
        <dd>
            <span>{{paymentOrigin.description}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.paymentOrigin.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{paymentOrigin.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.paymentOrigin.updateDate">Update Date</span></dt>
        <dd>
            <span>{{paymentOrigin.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.paymentOrigin.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{paymentOrigin.deleteDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment-origin-my-suffix/'+ paymentOrigin.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
