<div>
    <h2>
        <span jhiTranslate="gatewayApp.paymentOrigin.home.title">Payment Origins</span>
        <button class="btn btn-primary float-right jh-create-entity create-payment-origin-my-suffix" [routerLink]="['/', { outlets: { popup: ['payment-origin-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.paymentOrigin.home.createLabel">
            Create new Payment Origin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paymentOrigins">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codigo"><span jhiTranslate="gatewayApp.paymentOrigin.codigo">Codigo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="gatewayApp.paymentOrigin.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="gatewayApp.paymentOrigin.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="gatewayApp.paymentOrigin.updateDate">Update Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleteDate"><span jhiTranslate="gatewayApp.paymentOrigin.deleteDate">Delete Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentOrigin of paymentOrigins ;trackBy: trackId">
                <td><a [routerLink]="['../payment-origin-my-suffix', paymentOrigin.id ]">{{paymentOrigin.id}}</a></td>
                <td>{{paymentOrigin.codigo}}</td>
                <td>{{paymentOrigin.description}}</td>
                <td>{{paymentOrigin.creationDate | date:'mediumDate'}}</td>
                <td>{{paymentOrigin.updateDate | date:'mediumDate'}}</td>
                <td>{{paymentOrigin.deleteDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment-origin-my-suffix', paymentOrigin.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-origin-my-suffix/'+ paymentOrigin.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-origin-my-suffix/'+ paymentOrigin.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="paymentOrigins && paymentOrigins.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
