<div>
    <h2>
        <span jhiTranslate="gatewayApp.message.home.title">Messages</span>
        <button class="btn btn-primary float-right jh-create-entity create-message-my-suffix" [routerLink]="['/', { outlets: { popup: ['message-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.message.home.createLabel">
            Create new Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="messages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="messageCode"><span jhiTranslate="gatewayApp.message.messageCode">Message Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionPt"><span jhiTranslate="gatewayApp.message.descriptionPt">Description Pt</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionEn"><span jhiTranslate="gatewayApp.message.descriptionEn">Description En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="gatewayApp.message.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="gatewayApp.message.updateDate">Update Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleteDate"><span jhiTranslate="gatewayApp.message.deleteDate">Delete Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let message of messages ;trackBy: trackId">
                <td><a [routerLink]="['../message-my-suffix', message.id ]">{{message.id}}</a></td>
                <td>{{message.messageCode}}</td>
                <td>{{message.descriptionPt}}</td>
                <td>{{message.descriptionEn}}</td>
                <td>{{message.creationDate | date:'mediumDate'}}</td>
                <td>{{message.updateDate | date:'mediumDate'}}</td>
                <td>{{message.deleteDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../message-my-suffix', message.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-my-suffix/'+ message.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-my-suffix/'+ message.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="messages && messages.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
