
<div *ngIf="message">
    <h2><span jhiTranslate="gatewayApp.message.detail.title">Message</span> {{message.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.message.messageCode">Message Code</span></dt>
        <dd>
            <span>{{message.messageCode}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.message.descriptionPt">Description Pt</span></dt>
        <dd>
            <span>{{message.descriptionPt}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.message.descriptionEn">Description En</span></dt>
        <dd>
            <span>{{message.descriptionEn}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.message.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{message.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.message.updateDate">Update Date</span></dt>
        <dd>
            <span>{{message.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.message.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{message.deleteDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'message-my-suffix/'+ message.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
