<div>
    <h2>
        <span jhiTranslate="gatewayApp.tax.home.title">Taxes</span>
        <button class="btn btn-primary float-right jh-create-entity create-tax-my-suffix" [routerLink]="['/', { outlets: { popup: ['tax-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.tax.home.createLabel">
            Create new Tax
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taxes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxNumber"><span jhiTranslate="gatewayApp.tax.taxNumber">Tax Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxDescription"><span jhiTranslate="gatewayApp.tax.taxDescription">Tax Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="gatewayApp.tax.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="payReference.id"><span jhiTranslate="gatewayApp.tax.payReference">Pay Reference</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tax of taxes ;trackBy: trackId">
                <td><a [routerLink]="['../tax-my-suffix', tax.id ]">{{tax.id}}</a></td>
                <td>{{tax.taxNumber}}</td>
                <td>{{tax.taxDescription}}</td>
                <td>{{tax.amount}}</td>
                <td>
                    <div *ngIf="tax.payReference">
                        <a [routerLink]="['../pay-reference-my-suffix', tax.payReference?.id ]" >{{tax.payReference?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tax-my-suffix', tax.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-my-suffix/'+ tax.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-my-suffix/'+ tax.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="taxes && taxes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
