
<div *ngIf="tax">
    <h2><span jhiTranslate="gatewayApp.tax.detail.title">Tax</span> {{tax.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.tax.taxNumber">Tax Number</span></dt>
        <dd>
            <span>{{tax.taxNumber}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tax.taxDescription">Tax Description</span></dt>
        <dd>
            <span>{{tax.taxDescription}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tax.amount">Amount</span></dt>
        <dd>
            <span>{{tax.amount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.tax.payReference">Pay Reference</span></dt>
        <dd>
            <div *ngIf="tax.payReference">
                <a [routerLink]="['/pay-reference-my-suffix', tax.payReference?.id]">{{tax.payReference?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tax-my-suffix/'+ tax.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
