<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaxLabel" jhiTranslate="gatewayApp.tax.home.createOrEditLabel">Create or edit a Tax</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tax.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tax.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tax.taxNumber" for="field_taxNumber">Tax Number</label>
            <input type="text" class="form-control" name="taxNumber" id="field_taxNumber"
                [(ngModel)]="tax.taxNumber" required maxlength="5" />
            <div [hidden]="!(editForm.controls.taxNumber?.dirty && editForm.controls.taxNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tax.taxDescription" for="field_taxDescription">Tax Description</label>
            <input type="text" class="form-control" name="taxDescription" id="field_taxDescription"
                [(ngModel)]="tax.taxDescription" required maxlength="50" />
            <div [hidden]="!(editForm.controls.taxDescription?.dirty && editForm.controls.taxDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tax.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="tax.amount" required min="2" max="28" />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 2 }">
                    This field should be at least 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 28 }">
                    This field cannot be more than 28.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tax.payReference" for="field_payReference">Pay Reference</label>
            <select class="form-control" id="field_payReference" name="payReference" [(ngModel)]="tax.payReference" >
                <option [ngValue]="null"></option>
                <option [ngValue]="payReferenceOption.id === tax.payReference?.id ? tax.payReference : payReferenceOption" *ngFor="let payReferenceOption of payreferences; trackBy: trackPayReferenceById">{{payReferenceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
