
<div *ngIf="situation">
    <h2><span jhiTranslate="gatewayApp.situation.detail.title">Situation</span> {{situation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.situation.codigo">Codigo</span></dt>
        <dd>
            <span>{{situation.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.situation.description">Description</span></dt>
        <dd>
            <span>{{situation.description}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.situation.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{situation.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.situation.updateDate">Update Date</span></dt>
        <dd>
            <span>{{situation.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.situation.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{situation.deleteDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'situation-my-suffix/'+ situation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
