
<div *ngIf="serviceResponse">
    <h2><span jhiTranslate="gatewayApp.serviceResponse.detail.title">Service Response</span> {{serviceResponse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.serviceResponse.description">Description</span></dt>
        <dd>
            <span>{{serviceResponse.description}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.serviceResponse.responseCode">Response Code</span></dt>
        <dd>
            <span>{{serviceResponse.responseCode}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.serviceResponse.returnCode">Return Code</span></dt>
        <dd>
            <span>{{serviceResponse.returnCode}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service-response-my-suffix/'+ serviceResponse.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
