
<div *ngIf="bank">
    <h2><span jhiTranslate="gatewayApp.bank.detail.title">Bank</span> {{bank.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.bank.description">Description</span></dt>
        <dd>
            <span>{{bank.description}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.bank.acronymsBank">Acronyms Bank</span></dt>
        <dd>
            <span>{{bank.acronymsBank}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.bank.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{bank.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.bank.updateDate">Update Date</span></dt>
        <dd>
            <span>{{bank.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.bank.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{bank.deleteDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-my-suffix/'+ bank.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
