
<div *ngIf="payReference">
    <h2><span jhiTranslate="gatewayApp.payReference.detail.title">Pay Reference</span> {{payReference.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.payReference.referenceNumber">Reference Number</span></dt>
        <dd>
            <span>{{payReference.referenceNumber}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.cpf">Cpf</span></dt>
        <dd>
            <span>{{payReference.cpf}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.taxpayerName">Taxpayer Name</span></dt>
        <dd>
            <span>{{payReference.taxpayerName}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.paymentLimitDate">Payment Limit Date</span></dt>
        <dd>
            <span>{{payReference.paymentLimitDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.taxNumber">Tax Number</span></dt>
        <dd>
            <span>{{payReference.taxNumber}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.taxDescription">Tax Description</span></dt>
        <dd>
            <span>{{payReference.taxDescription}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.amount">Amount</span></dt>
        <dd>
            <span>{{payReference.amount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.entityPaymentStatus">Entity Payment Status</span></dt>
        <dd>
            <span>{{payReference.entityPaymentStatus}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.paymentDate">Payment Date</span></dt>
        <dd>
            <span>{{payReference.paymentDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.authenticationNumber">Authentication Number</span></dt>
        <dd>
            <span>{{payReference.authenticationNumber}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.conciliationDate">Conciliation Date</span></dt>
        <dd>
            <span>{{payReference.conciliationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.integrationDate">Integration Date</span></dt>
        <dd>
            <span>{{payReference.integrationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.conciliatedSituation">Conciliated Situation</span></dt>
        <dd>
            <span>{{payReference.conciliatedSituation}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.conciliatedSituationDate">Conciliated Situation Date</span></dt>
        <dd>
            <span>{{payReference.conciliatedSituationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{payReference.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.updateDate">Update Date</span></dt>
        <dd>
            <span>{{payReference.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{payReference.deleteDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.situation">Situation</span></dt>
        <dd>
            <div *ngIf="payReference.situation">
                <a [routerLink]="['/situation-my-suffix', payReference.situation?.id]">{{payReference.situation?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.currency">Currency</span></dt>
        <dd>
            <div *ngIf="payReference.currency">
                <a [routerLink]="['/currency-my-suffix', payReference.currency?.id]">{{payReference.currency?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.bank">Bank</span></dt>
        <dd>
            <div *ngIf="payReference.bank">
                <a [routerLink]="['/bank-my-suffix', payReference.bank?.id]">{{payReference.bank?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.payReference.paymentOrigin">Payment Origin</span></dt>
        <dd>
            <div *ngIf="payReference.paymentOrigin">
                <a [routerLink]="['/payment-origin-my-suffix', payReference.paymentOrigin?.id]">{{payReference.paymentOrigin?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pay-reference-my-suffix/'+ payReference.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
