<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPayReferenceLabel" jhiTranslate="gatewayApp.payReference.home.createOrEditLabel">Create or edit a Pay Reference</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!payReference.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="payReference.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.referenceNumber" for="field_referenceNumber">Reference Number</label>
            <input type="text" class="form-control" name="referenceNumber" id="field_referenceNumber"
                [(ngModel)]="payReference.referenceNumber" required maxlength="15" />
            <div [hidden]="!(editForm.controls.referenceNumber?.dirty && editForm.controls.referenceNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.referenceNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.referenceNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                [(ngModel)]="payReference.cpf" required maxlength="15" />
            <div [hidden]="!(editForm.controls.cpf?.dirty && editForm.controls.cpf?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cpf?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cpf?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.taxpayerName" for="field_taxpayerName">Taxpayer Name</label>
            <input type="text" class="form-control" name="taxpayerName" id="field_taxpayerName"
                [(ngModel)]="payReference.taxpayerName" required maxlength="100" />
            <div [hidden]="!(editForm.controls.taxpayerName?.dirty && editForm.controls.taxpayerName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxpayerName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxpayerName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.paymentLimitDate" for="field_paymentLimitDate">Payment Limit Date</label>
            <div class="input-group">
                <input id="field_paymentLimitDate" type="text" class="form-control" name="paymentLimitDate" ngbDatepicker  #paymentLimitDateDp="ngbDatepicker" [(ngModel)]="payReference.paymentLimitDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="paymentLimitDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.paymentLimitDate?.dirty && editForm.controls.paymentLimitDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentLimitDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.taxNumber" for="field_taxNumber">Tax Number</label>
            <input type="text" class="form-control" name="taxNumber" id="field_taxNumber"
                [(ngModel)]="payReference.taxNumber" required maxlength="5" />
            <div [hidden]="!(editForm.controls.taxNumber?.dirty && editForm.controls.taxNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                   This field cannot be longer than 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.taxDescription" for="field_taxDescription">Tax Description</label>
            <input type="text" class="form-control" name="taxDescription" id="field_taxDescription"
                [(ngModel)]="payReference.taxDescription" required maxlength="100" />
            <div [hidden]="!(editForm.controls.taxDescription?.dirty && editForm.controls.taxDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="payReference.amount" required min="2" max="29" />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 2 }">
                    This field should be at least 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 29 }">
                    This field cannot be more than 29.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.entityPaymentStatus" for="field_entityPaymentStatus">Entity Payment Status</label>
            <input type="text" class="form-control" name="entityPaymentStatus" id="field_entityPaymentStatus"
                [(ngModel)]="payReference.entityPaymentStatus" required maxlength="1" />
            <div [hidden]="!(editForm.controls.entityPaymentStatus?.dirty && editForm.controls.entityPaymentStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entityPaymentStatus?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entityPaymentStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.paymentDate" for="field_paymentDate">Payment Date</label>
            <div class="input-group">
                <input id="field_paymentDate" type="text" class="form-control" name="paymentDate" ngbDatepicker  #paymentDateDp="ngbDatepicker" [(ngModel)]="payReference.paymentDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.authenticationNumber" for="field_authenticationNumber">Authentication Number</label>
            <input type="text" class="form-control" name="authenticationNumber" id="field_authenticationNumber"
                [(ngModel)]="payReference.authenticationNumber" maxlength="60" />
            <div [hidden]="!(editForm.controls.authenticationNumber?.dirty && editForm.controls.authenticationNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.authenticationNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.conciliationDate" for="field_conciliationDate">Conciliation Date</label>
            <div class="input-group">
                <input id="field_conciliationDate" type="text" class="form-control" name="conciliationDate" ngbDatepicker  #conciliationDateDp="ngbDatepicker" [(ngModel)]="payReference.conciliationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="conciliationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.integrationDate" for="field_integrationDate">Integration Date</label>
            <div class="input-group">
                <input id="field_integrationDate" type="text" class="form-control" name="integrationDate" ngbDatepicker  #integrationDateDp="ngbDatepicker" [(ngModel)]="payReference.integrationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="integrationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.conciliatedSituation" for="field_conciliatedSituation">Conciliated Situation</label>
            <input type="text" class="form-control" name="conciliatedSituation" id="field_conciliatedSituation"
                [(ngModel)]="payReference.conciliatedSituation" maxlength="1" />
            <div [hidden]="!(editForm.controls.conciliatedSituation?.dirty && editForm.controls.conciliatedSituation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.conciliatedSituation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.conciliatedSituationDate" for="field_conciliatedSituationDate">Conciliated Situation Date</label>
            <div class="input-group">
                <input id="field_conciliatedSituationDate" type="text" class="form-control" name="conciliatedSituationDate" ngbDatepicker  #conciliatedSituationDateDp="ngbDatepicker" [(ngModel)]="payReference.conciliatedSituationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="conciliatedSituationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="payReference.creationDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.updateDate" for="field_updateDate">Update Date</label>
            <div class="input-group">
                <input id="field_updateDate" type="text" class="form-control" name="updateDate" ngbDatepicker  #updateDateDp="ngbDatepicker" [(ngModel)]="payReference.updateDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="updateDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.deleteDate" for="field_deleteDate">Delete Date</label>
            <div class="input-group">
                <input id="field_deleteDate" type="text" class="form-control" name="deleteDate" ngbDatepicker  #deleteDateDp="ngbDatepicker" [(ngModel)]="payReference.deleteDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="deleteDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.situation" for="field_situation">Situation</label>
            <select class="form-control" id="field_situation" name="situation" [(ngModel)]="payReference.situation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="situationOption.id === payReference.situation?.id ? payReference.situation : situationOption" *ngFor="let situationOption of situations; trackBy: trackSituationById">{{situationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" [(ngModel)]="payReference.currency" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id === payReference.currency?.id ? payReference.currency : currencyOption" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.bank" for="field_bank">Bank</label>
            <select class="form-control" id="field_bank" name="bank" [(ngModel)]="payReference.bank" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankOption.id === payReference.bank?.id ? payReference.bank : bankOption" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.payReference.paymentOrigin" for="field_paymentOrigin">Payment Origin</label>
            <select class="form-control" id="field_paymentOrigin" name="paymentOrigin" [(ngModel)]="payReference.paymentOrigin" >
                <option [ngValue]="null"></option>
                <option [ngValue]="paymentOriginOption.id === payReference.paymentOrigin?.id ? payReference.paymentOrigin : paymentOriginOption" *ngFor="let paymentOriginOption of paymentorigins; trackBy: trackPaymentOriginById">{{paymentOriginOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
