<div>
    <h2>
        <span jhiTranslate="gatewayApp.payReference.home.title">Pay References</span>
        <button class="btn btn-primary float-right jh-create-entity create-pay-reference-my-suffix" [routerLink]="['/', { outlets: { popup: ['pay-reference-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.payReference.home.createLabel">
            Create new Pay Reference
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="payReferences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="referenceNumber"><span jhiTranslate="gatewayApp.payReference.referenceNumber">Reference Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cpf"><span jhiTranslate="gatewayApp.payReference.cpf">Cpf</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxpayerName"><span jhiTranslate="gatewayApp.payReference.taxpayerName">Taxpayer Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentLimitDate"><span jhiTranslate="gatewayApp.payReference.paymentLimitDate">Payment Limit Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxNumber"><span jhiTranslate="gatewayApp.payReference.taxNumber">Tax Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxDescription"><span jhiTranslate="gatewayApp.payReference.taxDescription">Tax Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="gatewayApp.payReference.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="entityPaymentStatus"><span jhiTranslate="gatewayApp.payReference.entityPaymentStatus">Entity Payment Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentDate"><span jhiTranslate="gatewayApp.payReference.paymentDate">Payment Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="authenticationNumber"><span jhiTranslate="gatewayApp.payReference.authenticationNumber">Authentication Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conciliationDate"><span jhiTranslate="gatewayApp.payReference.conciliationDate">Conciliation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="integrationDate"><span jhiTranslate="gatewayApp.payReference.integrationDate">Integration Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conciliatedSituation"><span jhiTranslate="gatewayApp.payReference.conciliatedSituation">Conciliated Situation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conciliatedSituationDate"><span jhiTranslate="gatewayApp.payReference.conciliatedSituationDate">Conciliated Situation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="gatewayApp.payReference.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="gatewayApp.payReference.updateDate">Update Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleteDate"><span jhiTranslate="gatewayApp.payReference.deleteDate">Delete Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="situation.id"><span jhiTranslate="gatewayApp.payReference.situation">Situation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currency.id"><span jhiTranslate="gatewayApp.payReference.currency">Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bank.id"><span jhiTranslate="gatewayApp.payReference.bank">Bank</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentOrigin.id"><span jhiTranslate="gatewayApp.payReference.paymentOrigin">Payment Origin</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payReference of payReferences ;trackBy: trackId">
                <td><a [routerLink]="['../pay-reference-my-suffix', payReference.id ]">{{payReference.id}}</a></td>
                <td>{{payReference.referenceNumber}}</td>
                <td>{{payReference.cpf}}</td>
                <td>{{payReference.taxpayerName}}</td>
                <td>{{payReference.paymentLimitDate | date:'mediumDate'}}</td>
                <td>{{payReference.taxNumber}}</td>
                <td>{{payReference.taxDescription}}</td>
                <td>{{payReference.amount}}</td>
                <td>{{payReference.entityPaymentStatus}}</td>
                <td>{{payReference.paymentDate | date:'mediumDate'}}</td>
                <td>{{payReference.authenticationNumber}}</td>
                <td>{{payReference.conciliationDate | date:'mediumDate'}}</td>
                <td>{{payReference.integrationDate | date:'mediumDate'}}</td>
                <td>{{payReference.conciliatedSituation}}</td>
                <td>{{payReference.conciliatedSituationDate | date:'mediumDate'}}</td>
                <td>{{payReference.creationDate | date:'mediumDate'}}</td>
                <td>{{payReference.updateDate | date:'mediumDate'}}</td>
                <td>{{payReference.deleteDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="payReference.situation">
                        <a [routerLink]="['../situation-my-suffix', payReference.situation?.id ]" >{{payReference.situation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="payReference.currency">
                        <a [routerLink]="['../currency-my-suffix', payReference.currency?.id ]" >{{payReference.currency?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="payReference.bank">
                        <a [routerLink]="['../bank-my-suffix', payReference.bank?.id ]" >{{payReference.bank?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="payReference.paymentOrigin">
                        <a [routerLink]="['../payment-origin-my-suffix', payReference.paymentOrigin?.id ]" >{{payReference.paymentOrigin?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pay-reference-my-suffix', payReference.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pay-reference-my-suffix/'+ payReference.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pay-reference-my-suffix/'+ payReference.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="payReferences && payReferences.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
